html,
body {
    height: 100%;
    margin: 0;
    font-family: Helvetica;
}

.header {
    padding-left: 300px;
    height: 50px;
    background: #19195c;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 5;
    -moz-transition: padding-left 0.5s;
    -o-transition: padding-left 0.5s;
    -webkit-transition: padding-left 0.5s;
    transition: padding-left 0.5s;
}

.menu {
    padding: 10px;
    margin: 5px;
    background: #009688;
    float: left;
    border-radius: 8px;
}

.main-header {
    padding: 11px 15px;
    text-align: center;
    font-size: large;
}

.side-header {
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #3a3a7b;
    color: white;
    z-index: 5;
    -moz-transition: transform 0.5s;
     -o-transition: transform 0.5s;
     -webkit-transition: transform 0.5s;
    transition: transform 0.5s;
}

.place-filter {
    height: 30px;
    font-size: 1em;
    width: 220px;
}

.filter-container {
    background: #009688;
    border: 3px solid #009688;
}

.filter-btn {
    font-size: 18px;
    padding-left: 3px;
}

.filter-btn i {
    padding-right: 5px;
}

#places-list {
    list-style: none;
    -webkit-padding-start: 0;
    margin-top: 0;
    font-size: 18px;
}

#places-list li {
    padding: 10px;
    border-bottom: 2px solid gray;
    cursor: pointer;
    background: #2626a6;
}

#places-list li.highlight {
    background: #f7584c;
}

.map_container {
    padding-left: 300px;
    overflow-x: hidden;
    -moz-transition: padding-left 0.5s;
    -o-transition: padding-left 0.5s;
    -webkit-transition: padding-left 0.5s;
    transition: padding-left 0.5s;
}

#map {
    height: calc(100vh - 50px);
    margin-top: 50px;
}

.sidebar_hidden .header,
.sidebar_hidden .map_container {
    padding-left: 0;
    -moz-transition: padding-left 0.5s;
     -o-transition: padding-left 0.5s;
     -webkit-transition: padding-left 0.5s;
    transition: padding-left 0.5s;
}

.sidebar_hidden .sidebar {
    transform: translateX(-300px);
}